{% extends "base.html" %}
{% load static %}
{% load nbsp %}

{% block content %}
<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-1 animated fadeIn" data-animate-effect="fadeInLeft">
                <img class="img-responsive" src="{% static 'images/img_bg_5.jpg' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-8 col-md-offset-1 animated fadeIn" data-animate-effect="fadeInLeft">
                <h2 class="fh5co-heading">About Company</h2>
                {% autoescape off %}
                <p>{{ object.text|linebreaksbr|nbsp }}</p>
                {% endautoescape %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1 mt">
                {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'blog:update' pk=object.id %}">Update</a>
                <a class="btn btn-primary" href="{% url 'blog:delete' pk=object.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
