{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header section
================================================== -->
<section id="header" class="header-one">
	<div class="container">
		<div class="row">
			<div class="offset-md-3 col-md-6 col-sm-8">
				<div class="header-thumb">
					<h1>Arhitekutra RN</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="landing-thumb">
					<h3 class="wow fadeInUp" data-wow-delay="1.9s">Nudim besplatne usluge savjetovanja. <a href="#">Kontaktirajte me.</a></h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio section
================================================== -->
{% endblock %}
